{
  "presets": [
    "env",
    "react",
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "dev-server": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}